<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static' , filename ='landing-page.css')}} ">
        <link rel="stylesheet" href="{{ url_for('static' , filename ='categoriesPage.css')}} ">
        <script defer type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script defer nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="https://kit.fontawesome.com/115a1d12a9.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" />
        {% if is_authenticated() %}
        <style>
            .login-button {
                display: none;
            }
    
            .profile-details {
                display: block;
            }
        </style>
        {% endif %}
        <title>Teacher Faisal</title>
    </head>
    
    <body>
        <nav class="nav">
            <a href="who-we-are">
                <img class="logo" src="{{ url_for('static', filename='1.png') }}" alt="logo picture" />
            </a>
            <ul class="nav__list">
                <li>
                    <a href="/" class="nav__list-item">
                        Home
                    </a>
                </li>
                <li>
                    <a href="chatbot" class="nav__list-item">
                        Speak with Faisal
                    </a>
                </li>
                <li>
                    <a href="vocabulary" class="nav__list-item">
                        Vocabulary
                    </a>
                </li>
                <li>
                    <a href="dictionary" class="nav__list-item">
                        Dictionary
                    </a>
                </li>
                <li>
                    <a href="who-we-are" class="nav__list-item">
                        About Us
                    </a>
                </li>

            </ul>
            <div class="profile-details">
                <input class="profile-details-checkbox" type="checkbox">
                <h2 class="accountName">
                    <span>
                        {{ googleAccname }}
                    </span>
                    <i class="fa-solid fa-circle-user"></i>
                </h2>
                <div class="logout-box">
                    <div class="logout-box-dropdown"></div>
                    <a href="/logout" class="dropdown_item">
                        <ion-icon name="log-out-outline" role="img" class="md hydrated"></ion-icon>
                        Logout
                    </a>
                </div>
            </div>
            <a class="login-button" href="/loginPage">
                <button>
                    Log In
                </button>
            </a>
        </nav>

    <div class="container">

        <h1 class="heading">our services</h1>
    
        <div class="box-container">
    
            <div class="box">
                <ion-icon name="book-outline"></ion-icon>
                <h3>Literature</h3>
                <p>Read the Shakespear novels that are involved in your exam</p>
                <a href="/readingComprehensionPage" class="btn">read more</a>
            </div>
    
            <div class="box">
                <ion-icon name="library-outline"></ion-icon>
                <h3>Sample Tests</h3>
                <p>You should test yourself to check how ready you are from these exams</p>
                <a href="/LiterarySampleTest" class="btn">read more</a>
            </div>
    
            <div class="box">
                <ion-icon name="albums-outline"></ion-icon>
                <h3>Tips and Tricks</h3>
                <p>Learn our exclusive tips and tricks from experts</p>
                <a href="/TawjihiTipsAndTricks" class="btn">read more</a>
            </div>

    
        </div>
        <div class="container">

            <h1 class="heading">External resources</h1>
        
            <div class="box-container">
        
                <div class="box">
                    <ion-icon name="logo-youtube"></ion-icon>
                    <h3>Online Library</h3>
                    <p>Watch these to improve your studying and habits to obtain great marks</p>
                    <a href="https://www.youtube.com/playlist?list=PLI0Dv6JY8Q-Ky5ldzOuRe5pklykVYNW8a" target="_blank" class="btn">Watch Now</a>
                </div>
        
                <div class="box">
                    <ion-icon name="videocam-outline"></ion-icon>
                    <h3>Documentaries</h3>
                    <p>Watch documentaries to improve your english and vocabulary to obtain great marks</p>
                    <a href="https://www.youtube.com/playlist?list=PLeCPQtbuJaPtLugP7UijMU-ozdNmkdNFO" target="_blank" class="btn">Watch Now</a>
                </div>
        
                <div class="box">
                    <ion-icon name="flash-outline"></ion-icon>
                    <h3>Quizez</h3>
                    <p>These quizez help you test out and revise your vocabulary and learn new ones</p>
                    <a href="https://quizlet.com/607883169/english-tawjihi-flash-cards/?funnelUUID=b61dc2db-9d43-4db4-808b-02174cb01bdd" target="_blank" class="btn">Watch Now</a>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer__contact-box">
                <h3 class="footer__title">
                    Get In Touch
                </h3>
                <a href="mailto:amirkhoury0806@gmail.com">
                    <button class="btn__contcat">
                        Contact us
                    </button>
                </a>
            </div>
        </footer>

</body>

