<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static' , filename ='style.css')}} ">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{{ url_for('static' , filename ='script.js')}} "></script>
    <link rel="stylesheet" href="{{ url_for('static' , filename ='categoriesPage.css')}} ">
    <link rel="stylesheet" href="{{ url_for('static' , filename ='dictionaryst.css')}} ">
    <script src="https://kit.fontawesome.com/115a1d12a9.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if is_authenticated() %}
    <style>
        .login-button {
            display: none;
        }

        .profile-details {
            display: block;
        }
    </style>
    {% endif %}
    <title>Teacher Faisal</title>
</head>
<nav class="nav">
    <!-- <a href="who-we-are" class="logo__link">
        <img class="logo" src="{{ url_for('static', filename='1.png') }}" alt="logo picture" />
    </a> -->
    <a href="who-we-are" class="logo__link">
        <img class="logo" src="1.png" alt="logo picture" />
    </a>
    <ul class="nav__list">
        <li>
            <a href="chatbot" class="nav__list-item">
                Speak with Faisal
            </a>
        </li>
        <li>
            <a href="vocabulary" class="nav__list-item">
                Vocabulary
            </a>
        </li>
        <li>
            <a href="dictionary" class="nav__list-item">
                Dictionary
            </a>
        </li>
        <li>
            <a href="who-we-are" class="nav__list-item">
                Who we are
            </a>
        </li>
    </ul>
    <div class="profile-details">
        <input class="profile-details-checkbox" type="checkbox">
        <h2 class="accountName">
            <span>
                {{ googleAccname }}
            </span>
            <i class="fa-solid fa-circle-user"></i>
        </h2>
        <div class="logout-box">
            <div class="logout-box-dropdown"></div>
            <a href="javascript:void(0);" class="dropdown_item">
                <i class="fa-regular fa-user"></i>
                My Profile
            </a>
            <a href="/logout" class="dropdown_item">
                <ion-icon name="log-out-outline" role="img" class="md hydrated"></ion-icon>
                Logout
            </a>
        </div>
    </div>
    <a class="login-button" href="/loginPage">
        <button>
            Log In
        </button>
    </a>
</nav>

<body>
    <h1 class="Faisal-dictionary">Faisal Dictionary</h1>
    <h2 class="dictionary-introduction">
        In this page you can search for any defenition of a word that is hard for you to understand in both languages,
        Arabic and English
    </h2>
    <h2 class="word-searching">{{ f }}</h2>
    <form class="form-container" method="post" action="/dictionary">
        <input class="searching-field" name="text" type="text" placeholder="Enter your word here">
        <input class="submit button" value="Submit" type="submit">
    </form>
    <div class="definitons__box">
        <h4 class="arOutput">{{ arOutput }}</h4>
        <h2 class="vocabulary-count">
            You searched for:
            <span class="blue-highlight">{{num}}</span>
        </h2>
        <div class="english-definition-box">
            <h2 class="English-definition">English Definition:</h2>
            <h2 class="definition blue-highlight">{{ d }}</h2>
        </div>
    </div>
    <div class="link___box">
        <a href="vocabulary" class="vocabulary-box"><button>Vocabulary Box</button></a>
    </div>
</body>

</html>