<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static' , filename ='readingComprehensionPage.css')}} ">
  <script type="text/javascript" src="{{ url_for('static', filename='dropdownanimation.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static' , filename ='style.css')}} ">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{{ url_for('static' , filename ='script.js')}} "></script>
    <script src="https://kit.fontawesome.com/115a1d12a9.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if is_authenticated() %}
    <style>
        .login-button {
            display: none;
        }

        .profile-details {
            display: block;
        }
    </style>
    {% endif %}
    <style>
        .hero {
            color: #fff;
            height: calc(100vh - 73px);
            width: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: linear-gradient(rgba(34, 34, 34, 0.8),
                rgba(34, 34, 34, 0.6)),
            url("{{ url_for('static', filename='landing-page-hero.jpg') }}");
            position: relative;
        }
    </style>
    <title>Teacher Faisal</title>
</head>

<body>
  <nav class="nav">
    <a href="who-we-are" class="logo__link">
        <img class="logo" src="{{ url_for('static', filename='1.png') }}" alt="logo picture" />
    </a>
    <ul class="nav__list">
        <li>
            <a href="chatbot" class="nav__list-item">
                Speak with Faisal
            </a>
        </li>
        <li>
            <a href="vocabulary" class="nav__list-item">
                Vocabulary
            </a>
        </li>
        <li>
            <a href="dictionary" class="nav__list-item">
                Dictionary
            </a>
        </li>
        <li>
            <a href="who-we-are" class="nav__list-item">
                Who we are
            </a>
        </li>
    </ul>
    <div class="profile-details">
        <input class="profile-details-checkbox" type="checkbox">
        <h2 class="accountName">
            <span>
                {{ googleAccname }}
            </span>
            <i class="fa-solid fa-circle-user"></i>
        </h2>
        <div class="logout-box">
            <div class="logout-box-dropdown"></div>
            <a href="javascript:void(0);" class="dropdown_item">
                <i class="fa-regular fa-user"></i>
                My Profile
            </a>
            <a href="/logout" class="dropdown_item">
                <ion-icon name="log-out-outline" role="img" class="md hydrated"></ion-icon>
                Logout
            </a>
        </div>
    </div>
    <a class="login-button" href="/loginPage">
        <button>
            Log In
        </button>
    </a>
</nav>

<center><h1 class="title">Reading Comprehensions</h1></center>

<div class="buttons">
  <div class="add-material">
    Upload Material
    <ion-icon id="ao3" name="add-outline"></ion-icon>
    <div class="dropdown2">
      <ion-icon name="image-outline"></ion-icon><a class="image" href="https://drive.google.com/drive/folders/1IYjJW1oQPFMwCCb16zuOy1dqt2xxQh8B?usp=sharing", target="_blank">Image</a><br>
      <ion-icon name="newspaper-outline"></ion-icon><a class="form" href="https://drive.google.com/drive/folders/1IYjJW1oQPFMwCCb16zuOy1dqt2xxQh8B?usp=sharing" , target="_blank" >Google Forms</a><br>
    </div>
  </div>
  <a href="https://drive.google.com/drive/folders/1fDsD4pWESD2ABlsevJwq4ZmyGWDKeBRT"><button class="external-resources">Additional Resources</button></a>
</div>

<section class="faq">
  <div class="container">
    <div class="accordion">
      <div class="accordion-item" onclick="extend()">
        <a class="accordion-link section-title">
          Unit 1 Reading Comprehension
          <ion-icon id="ao" name="add-outline"></ion-icon>
          <ion-icon class="remove-outline" name="remove-outline"></ion-icon>
        </a>
        <div class="answer" id="question1">
          <p>
            <a href="/U1ReadingComprehension1">
              1) Reading Comprehension
            </a><br>
            <a href="/U1ReadingComprehension2">
              2) Reading Comprehension
            </a><br>
          </p>
        </div>
      </div>
      <div class="accordion-item " onclick="extend1()">
        <a class="accordion-link section-title">
          Unit 2 Reading Comprehension
          <ion-icon id="ao1" name="add-outline"></ion-icon>
          <ion-icon class="remove-outline" name="remove-outline"></ion-icon>
        </a>
        <div class="answer" id="question2">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam quae dolor perspiciatis. Tempore, mollitia error accusantium ipsa sapiente, distinctio, officia ex laudantium aliquid neque beatae!
          </p>
        </div>
      </div>
      <div class="accordion-item" onclick="extend2()">
        <a class="accordion-link section-title">
          Unit 3 Reading Comprehension
          <ion-icon id="ao2" name="add-outline"></ion-icon>
          <ion-icon class="remove-outline" name="remove-outline"></ion-icon>
        </a>
        <div class="answer" id="question3">
          <p>
            Flask is generally better suited for small to medium-sized web projects. However, it can be used for large-scale projects with some modifications and additions. Flask is highly extensible and there are many third-party libraries and tools that can be used to enhance its functionality and scalability.
          </p>
        </div>
      </div>
      <div class="accordion-item" onclick="extend2()">
        <a class="accordion-link section-title">
          Unit 4 Reading Comprehension
          <ion-icon id="ao2" name="add-outline"></ion-icon>
          <ion-icon class="remove-outline" name="remove-outline"></ion-icon>
        </a>
        <div class="answer" id="question3">
          <p>
            Flask is generally better suited for small to medium-sized web projects. However, it can be used for large-scale projects with some modifications and additions. Flask is highly extensible and there are many third-party libraries and tools that can be used to enhance its functionality and scalability.
          </p>
        </div>
      </div>
      <div class="accordion-item" onclick="extend2()">
        <a class="accordion-link section-title">
          Unit 5 Reading Comprehension
          <ion-icon id="ao2" name="add-outline"></ion-icon>
          <ion-icon class="remove-outline" name="remove-outline"></ion-icon>
        </a>
        <div class="answer" id="question3">
          <p>
            Flask is generally better suited for small to medium-sized web projects. However, it can be used for large-scale projects with some modifications and additions. Flask is highly extensible and there are many third-party libraries and tools that can be used to enhance its functionality and scalability.
          </p>
        </div>
      </div>
      <div class="accordion-item" onclick="extend2()">
        <a class="accordion-link section-title">
          Unit 7 Reading Comprehension
          <ion-icon id="ao2" name="add-outline"></ion-icon>
          <ion-icon class="remove-outline" name="remove-outline"></ion-icon>
        </a>
        <div class="answer" id="question3">
          <p>
            Flask is generally better suited for small to medium-sized web projects. However, it can be used for large-scale projects with some modifications and additions. Flask is highly extensible and there are many third-party libraries and tools that can be used to enhance its functionality and scalability.
          </p>
        </div>
      </div>
      <div class="accordion-item" onclick="extend2()">
        <a class="accordion-link section-title">
          Unit 8 Reading Comprehension
          <ion-icon id="ao2" name="add-outline"></ion-icon>
          <ion-icon class="remove-outline" name="remove-outline"></ion-icon>
        </a>
        <div class="answer" id="question3">
          <p>
            Flask is generally better suited for small to medium-sized web projects. However, it can be used for large-scale projects with some modifications and additions. Flask is highly extensible and there are many third-party libraries and tools that can be used to enhance its functionality and scalability.
          </p>
        </div>
      </div>
      <div class="accordion-item" onclick="extend2()">
        <a class="accordion-link section-title">
          Unit 9 Reading Comprehension
          <ion-icon id="ao2" name="add-outline"></ion-icon>
          <ion-icon class="remove-outline" name="remove-outline"></ion-icon>
        </a>
        <div class="answer" id="question3">
          <p>
            Flask is generally better suited for small to medium-sized web projects. However, it can be used for large-scale projects with some modifications and additions. Flask is highly extensible and there are many third-party libraries and tools that can be used to enhance its functionality and scalability.
          </p>
        </div>
      </div>
      <div class="accordion-item" onclick="extend2()">
        <a class="accordion-link section-title">
          Unit 10 Reading Comprehension
          <ion-icon id="ao2" name="add-outline"></ion-icon>
          <ion-icon class="remove-outline" name="remove-outline"></ion-icon>
        </a>
        <div class="answer" id="question3">
          <p>
            Flask is generally better suited for small to medium-sized web projects. However, it can be used for large-scale projects with some modifications and additions. Flask is highly extensible and there are many third-party libraries and tools that can be used to enhance its functionality and scalability.
          </p>
        </div>
      </div>
      <div class="accordion-item" onclick="extend2()">
        <a class="accordion-link section-title">
          Unit 11 Reading Comprehension
          <ion-icon id="ao2" name="add-outline"></ion-icon>
          <ion-icon class="remove-outline" name="remove-outline"></ion-icon>
        </a>
        <div class="answer" id="question3">
          <p>
            Flask is generally better suited for small to medium-sized web projects. However, it can be used for large-scale projects with some modifications and additions. Flask is highly extensible and there are many third-party libraries and tools that can be used to enhance its functionality and scalability.
          </p>
        </div>
      </div>
      
    </div>
  </div>
</section>
</body>
<footer class="footer">
  <div class="footer__contact-box">
      <h3 class="footer__title">
          Get In Touch
      </h3>
      <a href="mailto:amirkhoury0806@gmail.com">
          <button class="btn__contcat">
              Contact us
          </button>
      </a>
  </div>
</footer>



