<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static' , filename ='U1-LanguageVideoLesson.css')}} ">
  <link rel="stylesheet" href="{{ url_for('static' , filename ='readingComprehensionPage.css')}} ">
  <script type="text/javascript" src="{{ url_for('static', filename='dropdownanimation.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static' , filename ='style.css')}} ">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{{ url_for('static' , filename ='script.js')}} "></script>
    <meta charset="UTF-8">
    <link
    rel="stylesheet"
    href="{{ url_for('static' , filename ='style.css')}} "
  />
  <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>
  <script src="{{ url_for('static' , filename ='script.js')}} "></script>
  <link
    rel="stylesheet"
    href="{{ url_for('static' , filename ='U1-ReadingComprehension1.css')}} "
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static' , filename ='style.css')}} "
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static' , filename ='landing-page.css')}} "
  />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Teacher Faisal</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Faisal</title>
</head>
<body>
    <nav class="nav">
        <a href="who-we-are" class="logo__link">
          <img
            class="logo"
            src="{{ url_for('static', filename='1.png') }}"
            alt="logo picture"
          />
        </a>
        <ul class="nav__list">
          <li>
            <a href="chatbot" class="nav__list-item"> Speak with Faisal </a>
          </li>
          <li>
            <a href="vocabulary" class="nav__list-item"> Vocabulary </a>
          </li>
          <li>
            <a href="dictionary" class="nav__list-item"> Dictionary </a>
          </li>
          <li>
            <a href="who-we-are" class="nav__list-item"> Who we are </a>
          </li>
        </ul>
        <div class="profile-details">
          <input class="profile-details-checkbox" type="checkbox" />
          <h2 class="accountName">
            <span> {{ googleAccname }} </span>
            <i class="fa-solid fa-circle-user"></i>
          </h2>
          <div class="logout-box">
            <div class="logout-box-dropdown"></div>
            <a href="javascript:void(0);" class="dropdown_item">
              <i class="fa-regular fa-user"></i>
              My Profile
            </a>
            <a href="/logout" class="dropdown_item">
              <ion-icon
                name="log-out-outline"
                role="img"
                class="md hydrated"
              ></ion-icon>
              Logout
            </a>
          </div>
        </div>
        <a class="login-button" href="/loginPage">
          <button>Log In</button>
        </a>
      </nav>
  
      <div class="profile-details" onclick="dropdown2()">
        <img
          class="profile-picture"
          style="display: block"
          src="{{ profile_pic }}"
          alt=""
        />
        <p class="accountName">{{ googleAccname }}</p>
        <div class="dropdown">
          <a href="/logout" class="Logout"
            ><ion-icon name="log-out-outline"></ion-icon>Logout</a
          >
        </div>
      </div>
    
    <div class="container">
        <div class="video-container">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/_TUKYWPuW4g" 
title="Learn the PRESENT TENSE in 4 minutes 📚| Learn with examples" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <footer>
        <a href="/U1LanguageSlideLesson"><button class="next">Next ></button></a>
        <a href="/GrammarPage"><button class="home">Back To Language Page</button></a>
    </footer>
</body>