<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static' , filename ='U1-WritingQuestion1.css')}} ">
  <link rel="stylesheet" href="{{ url_for('static' , filename ='readingComprehensionPage.css')}} ">
  <script type="text/javascript" src="{{ url_for('static', filename='dropdownanimation.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static' , filename ='style.css')}} ">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{{ url_for('static' , filename ='script.js')}} "></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Faisal</title>
</head>
<body>
    <nav class="nav">
        <a href="who-we-are" class="logo__link">
            <img class="logo" src="{{ url_for('static', filename='1.png') }}" alt="logo picture" />
        </a>
     <!----   <a href="who-we-are" class="logo__link">
            <img class="logo" src="1.png" alt="logo picture" />
        </a>-->
        <ul class="nav__list">
            <li>
                <a href="chatbot" class="nav__list-item">
                    Speak with Faisal
                </a>
            </li>
            <li>
                <a href="vocabulary" class="nav__list-item">
                    Vocabulary
                </a>
            </li>
            <li>
                <a href="dictionary" class="nav__list-item">
                    Dictionary
                </a>
            </li>
            <li>
                <a href="who-we-are" class="nav__list-item">
                    Who we are
                </a>
            </li>
        </ul>
        <div class="profile-details">
            <input class="profile-details-checkbox" type="checkbox">
            <h2 class="accountName">
                <span>
                    {{ googleAccname }}
                </span>
                <i class="fa-solid fa-circle-user"></i>
            </h2>
            <div class="logout-box">
                <div class="logout-box-dropdown"></div>
                <a href="javascript:void(0);" class="dropdown_item">
                    <i class="fa-regular fa-user"></i>
                    My Profile
                </a>
                <a href="/logout" class="dropdown_item">
                    <ion-icon name="log-out-outline" role="img" class="md hydrated"></ion-icon>
                    Logout
                </a>
            </div>
        </div>
        <a class="login-button" href="/loginPage">
            <button>
                Log In
            </button>
        </a>
    </nav>

    <p id="countdown"></p>
    <button id="pause-button" onclick="pause()">pause</button>
<div id="center">
    <h1 class="times-up">Time's up</h1>
    <p class="times-up">Your Score is</p><p class="score">0</p>
    <a href="/U1ReadingComprehension1"><button class="retry">retry</button></a>
</div>
<script>
    const startingMinutes = 25;
    let time = startingMinutes * 60;
    let isPaused = false;
    
    const countdownEl = document.getElementById('countdown');
    const pauseButton = document.getElementById('pause-button');
    const statusDiv = document.getElementById('center');
    
    
    setInterval(updateCountdown, 1000);
    
    function updateCountdown() {
    if (isPaused) {
        return;
    }
    const minutes = Math.floor(time / 60);
    let seconds = time % 60;
    
    seconds = seconds < 10 ? '0' + seconds : seconds;
    
    countdownEl.innerHTML = `${minutes}:${seconds}`;
    time--;
    
    if (time == 0){
        pause();
        statusDiv.style.display = 'block';
        pauseButton.disabled = "disabled";
    }
    }

    function pause() {
    isPaused = !isPaused;
    }
</script>
<div class="ReadingComprehension">
    <h3 class="Question">
        You want to apply for a foundation course in Information technology Explain in about 200 words: <br><br>
        1- your reasons for choosing the course <br><br>
        2- your experiences in this field <br><br>
        3- your future aims <br><br>
    </h3>
    <textarea oninput="autogrow(this) ; limitTextarea(this)" type="text" class="answer-field textarea" id="answer-field" name="input-field" placeholder="Start Writing Your Answer Right Here!" ></textarea>
    <script type="text/javascript">
      function autogrow(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight)+"px";
        element.scrollTop = element.scrollHeight;
      }

    function limitTextarea(element) {
    var maxChar = 200;
    var currentValue = element.value;
    var numberOfWords = currentValue.split(/\s+/).length;

    if (numberOfWords > maxChar) {
        element.value = currentValue.split(/\s+/, maxChar).join(" ");
    }
}

    </script>
    
</div>