<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{{ url_for('static' , filename ='style.css')}} ">
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="{{ url_for('static' , filename ='script.js')}} "></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static' , filename ='teacherfaisalbot.css')}}">
  <script src="https://kit.fontawesome.com/115a1d12a9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static' , filename ='U1-ReadingComprehension1.css')}} ">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if is_authenticated() %}
  <style>
    .login-button {
      display: none;
    }

    .profile-details {
      display: block;
    }
  </style>
  {% endif %}
  <title>Teacher Faisal</title>
</head>

<body>

  <nav class="nav">
    <a href="who-we-are" class="logo__link">
      <img class="logo" src="{{ url_for('static', filename='1.png') }}" alt="logo picture" />
    </a>
    <ul class="nav__list">
      <li>
        <a href="chatbot" class="nav__list-item">
          Speak with Faisal
        </a>
      </li>
      <li>
        <a href="vocabulary" class="nav__list-item">
          Vocabulary
        </a>
      </li>
      <li>
        <a href="dictionary" class="nav__list-item">
          Dictionary
        </a>
      </li>
      <li>
        <a href="who-we-are" class="nav__list-item">
          Who we are
        </a>
      </li>
    </ul>
    <div class="profile-details">
      <input class="profile-details-checkbox" type="checkbox">
      <h2 class="accountName">
        <span>
          {{ googleAccname }}
        </span>
        <i class="fa-solid fa-circle-user"></i>
      </h2>
      <div class="logout-box">
        <div class="logout-box-dropdown"></div>
        <a href="javascript:void(0);" class="dropdown_item">
          <i class="fa-regular fa-user"></i>
          My Profile
        </a>
        <a href="/logout" class="dropdown_item">
          <ion-icon name="log-out-outline" role="img" class="md hydrated"></ion-icon>
          Logout
        </a>
      </div>
    </div>
    <a class="login-button" href="/loginPage">
      <button>
        Log In
      </button>
    </a>
  </nav>
  <center>
    <h1>
      Teacher Faisal
    </h1>
  </center>
  <div class="box"></div>
  <div class="boxed">
    <div>
      <div id="chatbox">
        <p class="botText">
          <span>Hi! I'm Faisal, How can I help you today ?</span>
        </p>
      </div>
      <div id="userInput">
        <input oninput="autogrow(this) ; limitTextarea(this)" type="text" class="answer-field textarea" id="textInput"
          name="input-field" placeholder="Enter your message here"></input>
        <script type="text/javascript">
          function autogrow(element) {
            element.style.height = "5px";
            element.style.height = (element.scrollHeight) + "px";
            element.scrollTop = element.scrollHeight;
          }

          function limitTextarea(element) {
            var maxChar = 200;
            var currentValue = element.value;
            var numberOfWords = currentValue.split(/\s+/).length;

            if (numberOfWords > maxChar) {
              element.value = currentValue.split(/\s+/, maxChar).join(" ");
            }
          }

        </script>
      </div>
    </div>
    <script>
      function getBotResponse() {
        var rawText = $("#textInput").val();
        var userHtml = '<p class="userText"><span class=userResponse style="margin : 15px auto 15px auto">' + rawText + "</span></p>";
        $("#textInput").val("");
        $("#chatbox").append(userHtml);
        document
          .getElementById("userInput")
          .scrollIntoView({ block: "start", behavior: "smooth" });
        $.get("/get", { msg: rawText }).done(function (data) {
          var botHtml = '<p class="botText"><span ">' + data + "</span></p>";
          $("#chatbox").append(botHtml);
          document
            .getElementById("userInput")
            .scrollIntoView({ block: "start", behavior: "smooth" });
        });
      }
      $("#textInput").keypress(function (e) {
        if (e.which == 13) {
          getBotResponse();
        }
      });
    </script>
  </div>
</body>

</html>