<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static' , filename ='ImageUpload.css')}} ">
  <script type="text/javascript" src="{{ url_for('static', filename='dropdownanimation.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static' , filename ='style.css')}} ">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{{ url_for('static' , filename ='script.js')}} "></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Faisal</title>
</head>
<body>
    <header>
        <a href="who-we-are"><img class = "logo" src="{{ url_for('static', filename='1.png') }}" alt="Alt Text"></a>
         <nav>
             <ul class="nav_links">
                 <li><a href="vocabulary">مفردات</a></li>
                 <li><a href="dictionary">قاموس</a></li>
                 <li><a href="chatbot">تكلم مع فيصل</a></li>
                 <li><a href="who-we-are">من نحن؟</a></li>
             </ul>
         </nav>
         <a class="cta" href="/base"><button>تواصل معنا</button></a>
     </header>
     <div class="sidebar">
     </div>
    {% if is_authenticated() %}
        <style>
            .login-button{
                display: none;
            }
            .profile-details{
                display: block;
            }
        </style>
    {% endif %}

    <a href="/loginPage"><button class="login-button">تسجيل الدخول</button></a>
    <div class="profile-details" onclick="dropdown2()">
        <img class="profile-picture" style="display:block" src="{{ profile_pic }}" alt="">
        <p class="accountName">{{ googleAccname }}</p>
        <div class="dropdown">
            <a href="/logout" class="Logout"><ion-icon name="log-out-outline"></ion-icon>Logout</a>
        </div>
    </div>
<div class="container">
<div class="form">
    <form method="POST" enctype="multipart/form-data">
        <label>Choose Images (The answers should be attached with the file)</label><br><br><br>
        <input type="file" name="image" id="image" class="form-control" multiple><br><br><br>
        <label for="Units">Which unit are you uploading this to :</label><br><br>
        <select id="Units" name="Units">
          <option value="Unit1">Unit 1</option>
          <option value="Unit2">Unit 2</option>
          <option value="Unit3">Unit 3</option>
          <option value="Unit4">Unit 4</option>
          <option value="Unit5">Unit 5</option>
          <option value="Unit7">Unit 7</option>
          <option value="Unit8">Unit 8</option>
          <option value="Unit9">Unit 9</option>
          <option value="Unit10">Unit 10</option>
          <option value="Unit11">Unit 11</option>
        </select><br><br>
        <input type="submit" name="submit" class="btn btn-primary" value="UPLOAD">
    </form>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
  // File type validation
  var fileInput = document.getElementById("fileInput");
  fileInput.addEventListener("change", function() {
    var fileLength = this.files.length;
    var match = ["image/jpeg", "image/png", "image/jpg", "image/pdf"];
    for (var i = 0; i < fileLength; i++) {
      var file = this.files[i];
      var imagefile = file.type;
      if (!((imagefile == match[0]) || (imagefile == match[1]) || (imagefile == match[2]) || (imagefile == match[3]))) {
        alert('Please select a valid image file (JPEG/JPG/PNG OR PDF). يرجى تحديد ملف صورة صالح (JPEG / JPG / PNG أو PDF).');
        fileInput.value = '';
        return false;
      }
    }
  });
});

    </script>
</div>
</div>