<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static' , filename ='style.css')}} ">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{{ url_for('static' , filename ='script.js')}} "></script>
    <link rel="stylesheet" href="{{ url_for('static' , filename ='U1-ReadingComprehension1.css')}} ">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Faisal</title>
</head>
<body>
    <header>
        <a href="who-we-are"><img class = "logo" src="{{ url_for('static', filename='1.png') }}" alt="Alt Text"></a>
         <nav>
             <ul class="nav_links">
                 <li><a href="vocabulary">مفردات</a></li>
                 <li><a href="dictionary">قاموس</a></li>
                 <li><a href="chatbot">تكلم مع فيصل</a></li>
                 <li><a href="who-we-are">من نحن؟</a></li>
             </ul>
         </nav>
         <a class="cta" href="/base"><button>تواصل معنا</button></a>
     </header>
     <div class="sidebar">
     </div>
    {% if is_authenticated() %}
        <style>
            .login-button{
                display: none;
            }
            .profile-details{
                display: block;
            }
        </style>
    {% endif %}

    <a href="/loginPage"><button class="login-button">تسجيل الدخول</button></a>
    <div class="profile-details" onclick="dropdown2()">
        <img class="profile-picture" style="display:block" src="{{ profile_pic }}" alt="">
        <p class="accountName">{{ googleAccname }}</p>
        <div class="dropdown">
            <a href="/logout" class="Logout"><ion-icon name="log-out-outline"></ion-icon>Logout</a>
        </div>
    </div>
<p id="countdown"></p>
<button id="pause-button" onclick="pause()">pause</button>
<div id="center">
    <h1 class="times-up">Time's up</h1>
    <div class="Total-score">
        <p class="times-up">Your Score is</p><p id="score">0</p><p class="exam-mark">/ 25</p>
    </div>
    <a href="/U1ReadingComprehension1"><button class="retry">retry</button></a>
</div>
<script>

</script>
<div class="ReadingComprehension">
    <h3 class="Question">Question Number One: (25 points) Read the text and do the tasks below:</h3>
    <p class="the-passage">
    Your comfort zone is, as the name suggests, the area where you feel comfortable. We all have <span class="bold-word">one</span>, whether we know it or not: it's the set of routines and known abilities that make us feel safe because we're confident that we can manage and are unlikely to be challenged by anything unexpected or worrying. Obviously, staying inside your comfort zone has many benefits, especially at times when you're feeling under stress.
    On the other hand, we're often told in 'self-help' books that it's a good idea to do things that are outside our comfort zones. In fact, many studies have shown that an important factor in helping people feel positive about themselves is the feeling that <span class="bold-word">they</span>  are developing and making progress in their lives. You won't reach your full potential if you only do what you know you are able to do. We all want to improve ourselves, for example by learning something new, becoming more creative or getting fit.
    Unfortunately, people often get stuck in their comfort zones and don't feel able to try different things. There are various possible reasons for this. They may be afraid of failing or unsure how to begin. Many people think 'This is the way I am and I'll never change', using this as an excuse for not trying something new. Whatever the reason may be, it's sometimes necessary to force yourself to do something you'd rather not do. Once you've made the effort, though, the door to new experiences will be open and you'll probably wonder why you thought it was a problem.</p>
    <h3 class="Question">A. Answer the following questions (7 points) :</h3>
    <div class="question-container">
        <h5 class="sub-question">1) What does the phrase 'comfort zone' mean?</h5>
        <span class="break"></span>
        <input type="text" onapaste="return false" class="answer-field" id="answer-field1" name="input-field" placeholder="Answer" onkeypress="this.style.width = ((this.value.length + 5) * 10) + 'px';">
        <ion-icon class="mark" id="checkmark" name="checkmark-outline"></ion-icon>
        <ion-icon class="mark" id="crossmark" name="close-outline"></ion-icon>
        <span class="break"></span>
        <p class="correct-answers" id="correct-answer"> 
            <ion-icon name="bulb-outline"></ion-icon>
            Correct Answer : the area where you feel comfortable / the set of routines and known abilities that make us feel safe</p>
        <span class="break"></span>
        <h5 class="sub-question">2)What helps people feel positive about themselves according to many studies?</h5>
        <span class="break"></span>
        <input type="text" class="answer-field" id="answer-field2" name="input-field" placeholder="Answer" onkeypress="this.style.width = ((this.value.length + 5) * 10) + 'px';">
        <ion-icon class="mark" id="checkmark2" name="checkmark-outline"></ion-icon>
        <ion-icon class="mark" id="crossmark2" name="close-outline"></ion-icon>
        <span class="break"></span>
        <p class="correct-answers" id="correct-answer2"> 
            <ion-icon name="bulb-outline"></ion-icon>
            Correct Answer : The feeling that they are developing and making progress in their lives / When they are developing and making progress in their lives</p>
        
        <span class="break"></span>
        <h5 class="sub-question">3)Why do people often get stuck in their comfort zones?(3 reasons)</h5>
        <span class="break"></span>
        <h5 class="sub-question">a)</h5><input type="text" class="answer-field" id="answer-field3" name="input-field" placeholder="Answer" onkeypress="this.style.width = ((this.value.length + 5) * 10) + 'px';">
        <ion-icon class="mark" id="checkmark3" name="checkmark-outline"></ion-icon>
        <ion-icon class="mark" id="crossmark3" name="close-outline"></ion-icon>
        <span class="break"></span>
        <p class="correct-answers" id="correct-answer3"> 
            <ion-icon name="bulb-outline"></ion-icon>
            Correct Answer : They may be afraid of failing</p>
        <span class="break"></span>
        <h5 class="sub-question">b)</h5><input type="text" class="answer-field" id="answer-field4" name="input-field" placeholder="Answer" onkeypress="this.style.width = ((this.value.length + 5) * 10) + 'px';">
        <ion-icon class="mark" id="checkmark4" name="checkmark-outline"></ion-icon>
        <ion-icon class="mark" id="crossmark4" name="close-outline"></ion-icon>
        <span class="break"></span>
        <p class="correct-answers" id="correct-answer4"> 
            <ion-icon name="bulb-outline"></ion-icon>
            Correct Answer : They are unsure how to begin</p>
        <span class="break"></span>
        <h5 class="sub-question">c)</h5><input type="text" class="answer-field" id="answer-field5" name="input-field" placeholder="Answer" onkeypress="this.style.width = ((this.value.length + 5) * 10) + 'px';">
        <ion-icon class="mark" id="checkmark5" name="checkmark-outline"></ion-icon>
        <ion-icon class="mark" id="crossmark5" name="close-outline"></ion-icon>
        <span class="break"></span>
        <p class="correct-answers" id="correct-answer5"> 
            <ion-icon name="bulb-outline"></ion-icon>
            Correct Answer : They make excuses like not wanting to change</p>
        <span class="break"></span>

    </div>
    <h3 class="Question">B.Complete the following sentences (9 points) :</h3>
    <div class="fill-in-the-blanks-container">
        <h5 class="sub-question">1) We feel safe in our comfort zones because we're confident that</h5>
        <input type="text" class="answer-field" id="answer-field6" name="input-field" placeholder="Answer" onkeypress="this.style.width = ((this.value.length + 5) * 10) + 'px';">
        <ion-icon class="mark" id="checkmark6" name="checkmark-outline"></ion-icon>
        <ion-icon class="mark" id="crossmark6" name="close-outline"></ion-icon>
        <h5 class="sub-question">and are unlikely to be challenged by anything </h5>
        <input type="text" class="answer-field" id="answer-field7" name="input-field" placeholder="Answer" onkeypress="this.style.width = ((this.value.length + 5) * 10) + 'px';">
        <ion-icon class="mark" id="checkmark7" name="checkmark-outline"></ion-icon>
        <ion-icon class="mark" id="crossmark7" name="close-outline"></ion-icon>
        <h5 class="sub-question">.</h5>
        <span class="break"></span>
        <p class="correct-answers" id="correct-answer6"> 
            <ion-icon name="bulb-outline"></ion-icon>
            Correct Answer : we can manage</p>
        <span class="break"></span>
        <p class="correct-answers" id="correct-answer7"> 
            <ion-icon name="bulb-outline"></ion-icon>
            Correct Answer : unexpected or worrying</p>
        <span class="break"></span>
        <h5 class="sub-question">2)We're often told in 'self-help' books that it's a good idea to do </h5>
        <input type="text" class="answer-field" id="answer-field8" name="input-field" placeholder="Answer" onkeypress="this.style.width = ((this.value.length + 5) * 10) + 'px';">
        <ion-icon class="mark" id="checkmark8" name="checkmark-outline"></ion-icon>
        <ion-icon class="mark" id="crossmark8" name="close-outline"></ion-icon>
        <h5 class="sub-question">.</h5>
        <span class="break"></span>
        <p class="correct-answers"id="correct-answer8"> 
            <ion-icon name="bulb-outline"></ion-icon>
            Correct Answer : things that are outside our comfort zones</p>
        <span class="break"></span>
        <span class="break"></span>
        <h5 class="sub-question">3)We all want to improve ourselves, for example by</h5>
        <input type="text" class="answer-field" id="answer-field9" name="input-field" placeholder="Answer" onkeypress="this.style.width = ((this.value.length + 5) * 10) + 'px';">
        <ion-icon class="mark" id="checkmark9" name="checkmark-outline"></ion-icon>
        <ion-icon class="mark" id="crossmark9" name="close-outline"></ion-icon>
        <h5 class="sub-question">,</h5><input type="text" class="answer-field" id="answer-field10" name="input-field" placeholder="Answer" onkeypress="this.style.width = ((this.value.length + 5) * 10) + 'px';">
        <ion-icon class="mark" id="checkmark10" name="checkmark-outline"></ion-icon>
        <ion-icon class="mark" id="crossmark10" name="close-outline"></ion-icon>
        <h5 class="sub-question">or</h5><input type="text" class="answer-field" id="answer-field11" name="input-field" placeholder="Answer" onkeypress="this.style.width = ((this.value.length + 5) * 10) + 'px';"><h5 class="sub-question">.</h5>
        <ion-icon class="mark" id="checkmark11" name="checkmark-outline"></ion-icon>
        <ion-icon class="mark" id="crossmark11" name="close-outline"></ion-icon>
        <p class="correct-answers" id="correct-answer9"> 
            <ion-icon name="bulb-outline"></ion-icon>
            Correct Answer : learning something new</p>
        <p class="correct-answers" id="correct-answer10"> 
            <ion-icon name="bulb-outline"></ion-icon>
            Correct Answer : becoming more creative</p>
        <p class="correct-answers" id="correct-answer11"> 
            <ion-icon name="bulb-outline"></ion-icon>
            Correct Answer : getting fit</p>
    </div>
    <h3 class="Question">C.Decide whether these statements are True or False : (6 points)</h3>
    <div class="True-Or-Flase">
        <h5 class="sub-question">1) Staying inside your comfort zone has many benefits, especially when feeling stressed. </h5>
        <h5 class="sub-question" id="bracket">(</h5>
        <label class="circle-tag False">
        <span class="circle">
            <input type="radio" id="False1" value="False" name="TF1" >
        </span>
        <p class="option">False</p>
        </label>
        <label class="circle-tag True">
        <span class="circle">
            <input type="radio" id="True1" value="True" name="TF1" >
        </span>
        <p class="option">True</p>
        </label>
        <h5 class="sub-question" id="bracket">)</h5>
        <ion-icon class="mark" id="checkmark14" name="checkmark-outline"></ion-icon>
        <ion-icon class="mark" id="crossmark14" name="close-outline"></ion-icon>
        <span class="break"></span>
        <h5 class="sub-question">2) You will reach your full potential if you only do what you know you are able to do. </h5>
        <h5 class="sub-question" id="bracket">(</h5>
        <label class="circle-tag False">
        <span class="circle">
            <input type="radio" id="False2" value="False" name="TF2" >
        </span>
        <p class="option">False</p>
        </label>
        <label class="circle-tag True">
        <span class="circle">
            <input type="radio" id="True2" value="True" name="TF2" >
        </span>
        <p class="option">True</p>
        </label>
        <h5 class="sub-question" id="bracket">)</h5>
        <ion-icon class="mark" id="checkmark15" name="checkmark-outline"></ion-icon>
        <ion-icon class="mark" id="crossmark15" name="close-outline"></ion-icon>
        <span class="break"></span>
        <span class="break"></span>
        <h5 class="sub-question">3) It's sometimes necessary to force yourself to do something you'd rather not do. </h5>
        <h5 class="sub-question" id="bracket">(</h5>
        <label class="circle-tag False">
        <span class="circle">
            <input type="radio" id="False3" value="False" name="TF3" >
        </span>
        <p class="option">False</p>
        </label>
        <label class="circle-tag True">
        <span class="circle">
            <input type="radio" id="True3" value="True" name="TF3">
        </span>
        <p class="option">True</p>
        </label>
        <h5 class="sub-question" id="bracket">)</h5>
        <ion-icon class="mark" id="checkmark16" name="checkmark-outline"></ion-icon>
        <ion-icon class="mark" id="crossmark16" name="close-outline"></ion-icon>
        <span class="break"></span>
    </div>
    <h3 class="Question">D. Write what the following words might refer to: (3 points)</h3>
    <div class="word-definition">
        <h5 class="sub-question">1) One (line 1)</h5>
        <input type="text" class="answer-field" id="answer-field12" name="input-field" placeholder="Answer" onkeypress="this.style.width = ((this.value.length + 5) * 10) + 'px';"> 
        <ion-icon class="mark" id="checkmark12" name="checkmark-outline"></ion-icon>
        <ion-icon class="mark" id="crossmark12" name="close-outline"></ion-icon>
        <span class="break"></span>
        <p class="correct-answers" id="correct-answer12"> 
            <ion-icon name="bulb-outline"></ion-icon>
            Correct Answer : comfort zone</p>
        <span class="break"></span>
        <span class="break"></span>
        <h5 class="sub-question">2) They (line 5)</h5>
        <input type="text" class="answer-field" id="answer-field13" name="input-field" placeholder="Answer" onkeypress="this.style.width = ((this.value.length + 5) * 10) + 'px';"> 
        <ion-icon class="mark" id="checkmark13" name="checkmark-outline"></ion-icon>
        <ion-icon class="mark" id="crossmark13" name="close-outline"></ion-icon>
        <span class="break"></span>
        <p class="correct-answers" id="correct-answer13"> 
            <ion-icon name="bulb-outline"></ion-icon>
            Correct Answer : people</p>
        <span class="break"></span> 
    </div>
    <button id='submit-button' method="POST" onclick="checkAnswers()">submit</button>
</div>
<script>
    const startingMinutes = 0.1;
    let time = startingMinutes * 60;
    let isPaused = false;

    const countdownEl = document.getElementById('countdown');
    const pauseButton = document.getElementById('pause-button');
    const statusDiv = document.getElementById('center');


    let timer = setInterval(updateCountdown, 1000);

    function updateCountdown() {
    if (isPaused) {
        return;
    }
    const minutes = Math.floor(time / 60);
    let seconds = time % 60;

    seconds = seconds < 10 ? '0' + seconds : seconds;

    countdownEl.innerHTML = `${minutes}:${seconds}`;
    time--;

    if (time === 0){
        pause();
        statusDiv.style.display = 'block';
        pauseButton.disabled = "disabled";
        checkAnswers();
        clearInterval(timer)
    }
    }

    function pause() {
    isPaused = !isPaused
    }

    function checkAnswers(){
        const scoreElement = document.getElementById('score');
        let score = parseInt(scoreElement.textContent);
        const checkmark = document.getElementById('checkmark');
        const crossmark = document.getElementById('crossmark');
        const checkmark2 = document.getElementById('checkmark2');
        const checkmark3 = document.getElementById('checkmark3');
        const checkmark4 = document.getElementById('checkmark4');
        const checkmark5 = document.getElementById('checkmark5');
        const checkmark6 = document.getElementById('checkmark6');
        const checkmark7 = document.getElementById('checkmark7');
        const checkmark8 = document.getElementById('checkmark8');
        const checkmark9 = document.getElementById('checkmark9');
        const checkmark10 = document.getElementById('checkmark10');
        const checkmark11 = document.getElementById('checkmark11');
        const checkmark12 = document.getElementById('checkmark12');
        const checkmark13 = document.getElementById('checkmark13');
        const checkmark14 = document.getElementById('checkmark14');
        const checkmark15 = document.getElementById('checkmark15');
        const checkmark16 = document.getElementById('checkmark16');
        const crossmark2 = document.getElementById('crossmark2');
        const crossmark3 = document.getElementById('crossmark3');
        const crossmark4 = document.getElementById('crossmark4');
        const crossmark5 = document.getElementById('crossmark5');
        const crossmark6 = document.getElementById('crossmark6');
        const crossmark7 = document.getElementById('crossmark7');
        const crossmark8 = document.getElementById('crossmark8');
        const crossmark9 = document.getElementById('crossmark9');
        const crossmark10 = document.getElementById('crossmark10');
        const crossmark11 = document.getElementById('crossmark11');
        const crossmark12 = document.getElementById('crossmark12');
        const crossmark13 = document.getElementById('crossmark13');
        const crossmark14 = document.getElementById('crossmark14');
        const crossmark15 = document.getElementById('crossmark15');
        const crossmark16 = document.getElementById('crossmark16');
        const answerField1 = document.getElementById('answer-field1');
        const answerField2 = document.getElementById('answer-field2');
        const answerField3 = document.getElementById('answer-field3');
        const answerField4 = document.getElementById('answer-field4');
        const answerField5 = document.getElementById('answer-field5');
        const answerField6 = document.getElementById('answer-field6');
        const answerField7 = document.getElementById('answer-field7');
        const answerField8 = document.getElementById('answer-field8');
        const answerField9 = document.getElementById('answer-field9');
        const answerField10 = document.getElementById('answer-field10');
        const answerField11 = document.getElementById('answer-field11');
        const answerField12 = document.getElementById('answer-field12');
        const answerField13 = document.getElementById('answer-field13');
        const correctAnswer = document.getElementById('correct-answer');
        const correctAnswer2 = document.getElementById('correct-answer2');
        const correctAnswer3 = document.getElementById('correct-answer3');
        const correctAnswer4 = document.getElementById('correct-answer4');
        const correctAnswer5 = document.getElementById('correct-answer5');
        const correctAnswer6 = document.getElementById('correct-answer6');
        const correctAnswer7 = document.getElementById('correct-answer7');
        const correctAnswer8 = document.getElementById('correct-answer8');
        const correctAnswer9 = document.getElementById('correct-answer9');
        const correctAnswer10 = document.getElementById('correct-answer10');
        const correctAnswer11 = document.getElementById('correct-answer11');
        const correctAnswer12 = document.getElementById('correct-answer12');
        const correctAnswer13 = document.getElementById('correct-answer13');
        const submitButton = document.getElementById('submit-button')

        statusDiv.style.display = 'block';
        pause();
        pauseButton.disabled = "disabled";

        if (answerField1.value == "the area where you feel comfortable" || answerField1.value == "The area where you feel comfortable" || answerField1.value == "The area where you feel comfortable." || answerField1.value == "the area where you feel comfortable." || answerField1.value == "the set of routines and known abilities that make us feel safe" || answerField1.value == "The set of routines and known abilities that make us feel safe"){
            answerField1.disabled = "disabled";
            submitButton.disabled = 'disabled';
            answerField1.style.backgroundColor = '#31CD16';
            checkmark.style.display = 'block';
            score += 2;
            scoreElement.textContent = score.toString();
        }else{
            answerField1.style.backgroundColor = '#A90305';
            answerField1.disabled = "disabled";
            submitButton.disabled = 'disabled';
            crossmark.style.display = 'block';
            correctAnswer.style.display = 'block';
        }

        if (answerField2.value == "the feeling that they are developing and making progress in their lives" || 
        answerField2.value == "the feeling that they are developing and making progress in their lives" || 
        answerField2.value == "When they are developing and making progress in their lives" || 
        answerField2.value == "The feeling that they are developing and making progress in their lives" || 
        answerField2.value == "when they are developing and making progress in their lives"){
            answerField2.disabled = "disabled";
            submitButton.disabled = 'disabled';
            answerField2.style.backgroundColor = '#31CD16';
            checkmark2.style.display = 'block';
            score += 2;
            scoreElement.textContent = score.toString();
        }else{
            answerField2.style.backgroundColor = '#A90305';
            answerField2.disabled = "disabled";
            submitButton.disabled = 'disabled';
            crossmark2.style.display = 'block';
            correctAnswer2.style.display = 'block';
        }

        if (answerField3.value == "They may be afraid of failing" || 
        answerField3.value == "They may be afraid of failing."){
            answerField3.disabled = "disabled";
            submitButton.disabled = 'disabled';
            answerField3.style.backgroundColor = '#31CD16';
            checkmark3.style.display = 'block';
            score ++;
            scoreElement.textContent = score.toString();
        }else{
            answerField3.style.backgroundColor = '#A90305';
            answerField3.disabled = "disabled";
            submitButton.disabled = 'disabled';
            crossmark3.style.display = 'block';
            correctAnswer3.style.display = 'block';
        }

        if (answerField4.value == "They are unsure how to begin" || 
        answerField4.value == "They are unsure how to begin."){
            answerField4.disabled = "disabled";
            submitButton.disabled = 'disabled';
            answerField4.style.backgroundColor = '#31CD16';
            checkmark4.style.display = 'block';
            score ++;
            scoreElement.textContent = score.toString();
        }else{
            answerField4.style.backgroundColor = '#A90305';
            answerField4.disabled = "disabled";
            submitButton.disabled = 'disabled';
            crossmark4.style.display = 'block';
            correctAnswer4.style.display = 'block';
        }

        if (answerField5.value == "They make excuses like not wanting to change." || 
        answerField5.value == "They make excuses like not wanting to change"){
            answerField5.disabled = "disabled";
            submitButton.disabled = 'disabled';
            answerField5.style.backgroundColor = '#31CD16';
            checkmark5.style.display = 'block';
            score ++;
            scoreElement.textContent = score.toString();
        }else{
            answerField5.style.backgroundColor = '#A90305';
            answerField5.disabled = "disabled";
            submitButton.disabled = 'disabled';
            crossmark5.style.display = 'block';
            correctAnswer5.style.display = 'block';
        }

        if (answerField6.value == "we can manage"){
            answerField6.disabled = "disabled";
            submitButton.disabled = 'disabled';
            answerField6.style.backgroundColor = '#31CD16';
            checkmark6.style.display = 'block';
            score += 2;
            scoreElement.textContent = score.toString();
        }else{
            answerField6.style.backgroundColor = '#A90305';
            answerField6.disabled = "disabled";
            submitButton.disabled = 'disabled';
            crossmark6.style.display = 'block';
            correctAnswer6.style.display = 'block';
        }

        if (answerField7.value == "unexpected or worrying"){
            answerField7.disabled = "disabled";
            submitButton.disabled = 'disabled';
            answerField7.style.backgroundColor = '#31CD16';
            checkmark7.style.display = 'block';
            score += 2;
            scoreElement.textContent = score.toString();
        }else{
            answerField7.style.backgroundColor = '#A90305';
            answerField7.disabled = "disabled";
            submitButton.disabled = 'disabled';
            crossmark7.style.display = 'block';
            correctAnswer7.style.display = 'block';
        }

        if (answerField8.value == "things that are outside our comfort zones"){
            answerField8.disabled = "disabled";
            submitButton.disabled = 'disabled';
            answerField8.style.backgroundColor = '#31CD16';
            checkmark8.style.display = 'block';
            score += 2;
            scoreElement.textContent = score.toString();
        }else{
            answerField8.style.backgroundColor = '#A90305';
            answerField8.disabled = "disabled";
            submitButton.disabled = 'disabled';
            crossmark8.style.display = 'block';
            correctAnswer8.style.display = 'block';
        }

        if (answerField9.value == "learning something new"){
            answerField9.disabled = "disabled";
            submitButton.disabled = 'disabled';
            answerField9.style.backgroundColor = '#31CD16';
            checkmark9.style.display = 'block';
            score ++;
            scoreElement.textContent = score.toString();
        }else{
            answerField9.style.backgroundColor = '#A90305';
            answerField9.disabled = "disabled";
            submitButton.disabled = 'disabled';
            crossmark9.style.display = 'block';
            correctAnswer9.style.display = 'block';
        }

        if (answerField10.value == "becoming more creative"){
            answerField10.disabled = "disabled";
            submitButton.disabled = 'disabled';
            answerField10.style.backgroundColor = '#31CD16';
            checkmark10.style.display = 'block';
            score ++;
            scoreElement.textContent = score.toString();
        }else{
            answerField10.style.backgroundColor = '#A90305';
            answerField10.disabled = "disabled";
            submitButton.disabled = 'disabled';
            crossmark10.style.display = 'block';
            correctAnswer10.style.display = 'block';
        }

        if (answerField11.value == "getting fit"){
            answerField11.disabled = "disabled";
            submitButton.disabled = 'disabled';
            answerField11.style.backgroundColor = '#31CD16';
            checkmark11.style.display = 'block';
            score ++;
            scoreElement.textContent = score.toString();
        }else{
            answerField11.style.backgroundColor = '#A90305';
            answerField11.disabled = "disabled";
            submitButton.disabled = 'disabled';
            crossmark11.style.display = 'block';
            correctAnswer11.style.display = 'block';
        }

        if (answerField12.value == "comfort zone" || 
        answerField12.value == "Comfort zone"
        || answerField12.value == "comfort zone."
        || answerField12.value == "Comfort zone." ){
            answerField12.disabled = "disabled";
            submitButton.disabled = 'disabled';
            answerField12.style.backgroundColor = '#31CD16';
            checkmark12.style.display = 'block';
            score += 1.5;
            scoreElement.textContent = score.toString();
        }else{
            answerField12.style.backgroundColor = '#A90305';
            answerField12.disabled = "disabled";
            submitButton.disabled = 'disabled';
            crossmark12.style.display = 'block';
            correctAnswer12.style.display = 'block';
        }

        if (answerField13.value == "people" || 
        answerField12.value == "people."
        || answerField12.value == "People"
        || answerField12.value == "People." ){
            answerField12.disabled = "disabled";
            submitButton.disabled = 'disabled';
            answerField13.style.backgroundColor = '#31CD16';
            checkmark13.style.display = 'block';
            score += 1.5;
            scoreElement.textContent = score.toString();
        }else{
            answerField13.style.backgroundColor = '#A90305';
            answerField13.disabled = "disabled";
            submitButton.disabled = 'disabled';
            crossmark13.style.display = 'block';
            correctAnswer13.style.display = 'block';
        }

        document.getElementsByName('TF1')
            .forEach(radio => {
                if(radio.checked){
                    if(radio.value == 'True'){
                        submitButton.disabled = 'disabled';
                        checkmark14.style.display = 'block';
                        score += 2;
                        scoreElement.textContent = score.toString();
                    }else{
                        submitButton.disabled = 'disabled';
                        crossmark14.style.display = 'block';
                    }

                }
            });

        document.getElementsByName('TF2')
        .forEach(radio => {
            if(radio.checked){
                if(radio.value == 'False'){
                    submitButton.disabled = 'disabled';
                    checkmark15.style.display = 'block';
                    score +=2;
                    scoreElement.textContent = score.toString();
                }else{
                    submitButton.disabled = 'disabled';
                    crossmark15.style.display = 'block';
                }
            }
        });

        document.getElementsByName('TF3')
        .forEach(radio => {
            if(radio.checked){
                if(radio.value == 'True'){
                    submitButton.disabled = 'disabled';
                    checkmark16.style.display = 'block';
                    score +=2;
                    scoreElement.textContent = score.toString();
                }else{
                    submitButton.disabled = 'disabled';
                    crossmark16.style.display = 'block';
                }
            }
        });
    }
</script>
</body>
<footer>
    <a href="U1ReadingComprehension2"><button class="next">Next ></button></a>
    <a href="/readingComprehensionPage"><button class="home">Back To Reading Comprehension Page</button></a>
</footer>