<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static' , filename ='vocabularybox.css')}} "> 
  <script type="text/javascript" src="{{ url_for('static', filename='dropdownanimation.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static' , filename ='style.css')}} ">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{{ url_for('static' , filename ='script.js')}} "></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Faisal</title>
</head>
<body>
    <header>
        <a href="who-we-are"><img class = "logo" src="{{ url_for('static', filename='1.png') }}" alt="Alt Text"></a>
         <nav>
             <ul class="nav_links">
                 <li><a href="vocabulary">مفردات</a></li>
                 <li><a href="dictionary">قاموس</a></li>
                 <li><a href="chatbot">تكلم مع فيصل</a></li>
                 <li><a href="who-we-are">من نحن؟</a></li>
             </ul>
         </nav>
         <a class="cta" href="/base"><button>تواصل معنا</button></a>
     </header>
     <div class="sidebar">
     </div>
    {% if is_authenticated() %}
        <style>
            .login-button{
                display: none;
            }
            .profile-details{
                display: block;
            }
        </style>
    {% endif %}

    <a href="/loginPage"><button class="login-button">تسجيل الدخول</button></a>
    <div class="profile-details" onclick="dropdown2()">
        <img class="profile-picture" style="display:block" src="{{ profile_pic }}" alt="">
        <p class="accountName">{{ googleAccname }}</p>
        <div class="dropdown">
            <a href="/logout" class="Logout"><ion-icon name="log-out-outline"></ion-icon>Logout</a>
        </div>
    </div>

<head>
	<title>Vocabulary</title>
	<script>
		function toggleDef(id) {
			var def = document.getElementById(id);
			if (def.style.display === "none") {
				def.style.display = "block";
			} else {
				def.style.display = "none";
			}
		}
	</script>
</head>
<body>
	<h1 class="vocabulary-box-title">Vocabulary Box</h1><br><br>
	<table class="table">
		<tr>
			<th class="word-coloumn">Word</th>
			<th class="definition-coloumn">Definition</th>
			<th class="ar-definition-coloumn">Arabic Definition</th>
		</tr>
		{% for word in words %}
		<tr>
			<td class="word">{{ word[0] }}</td>
			<td>
				<button class="word-definition" onclick="toggleDef('{{ word[0] }}-def')">Show Definition</button>
				<div id="{{ word[0] }}-def" style="display: none;">{{ word[1] }}</div>
			</td>
			<td><button class="word-arabic-definition" onclick="toggleDef('{{ word[0] }}-def-ar')">
				Show Definition
			</button>
				<div id="{{ word[0] }}-def-ar" style="display:none">
					{{ word[2] }}
				</div></td>
			</td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>

